<div id="block" class="card">

  <div class="class-block">
    <div fxFlex="80" class="p-3">
      <h3 class="card-title"> {{ defiModel.name }}</h3>
      <p class="card-text">{{ defiModel.description }}</p>

      <div flFlex="100" fxLayout="row" class="card-subtitle text-muted">
          <p><span class="font-weight-bold">Catégorie : </span>{{ defiModel.categorie | ucfirst }}</p>
          <p fxFlexAlign="end">{{ defiModel.nbPoint }} points</p>
      </div>
    </div>

    <div fxFlex="20" >
      <button type="button" class="btn btn-info w-100 h-100">Accepter!</button>
    </div>
  </div>
</div>
