<div class="card">

  <div class="class-block">
    <div  class="p-3 w-75 d-inline">
      <h3 class="card-title"> {{ defiModel.name }}</h3>
      <p class="card-text">{{ defiModel.description }}</p>

      <div class="card-subtitle text-muted">
        <p><span class="font-weight-bold">Catégorie : </span>{{ defiModel.categorie | ucfirst }}</p>
        <p fxFlexAlign="end">{{ defiModel.nbPoint }} points</p>
      </div>
    </div>
  </div>
  <div class="w-100 d-inline">
    <button type="button" class="btn btn-info w-100" (click)="acceptDefi()">Accepter!</button>
  </div>

</div>
