<div class="card m-2">
  <!--<div class="image">-->
    <img class="card-img-top img-thumbnail full-width" [src]="news.urlImage" alt="Card image cap">
  <!--</div>-->
  <div class="card-block">
    <h4 class="card-title text-center text-capitalize p-2">
      <a [routerLink]="this.urlToGo" routerLinkActive="active">{{ news.title }}</a></h4>
    <p class="card-text p-2">{{ news.content | slice:0:250 }}</p>

    <p id="lastBlock" class="card-text text-right p-2 bt"><small class="text-muted">le {{ news.date | date:'medium'}}</small></p>

  </div>
</div>
