<md-sidenav-container class="example-container " fullscreen>
  <md-sidenav #sidenav class="example-sidenav p-3">


    <ul class="list-group">
      <!-- USER PART -->
      <li class="list-group-item list-group-item-action active">Étudiants</li>
      <a routerLink="/defi" routerLinkActive="active" (click)="sidenav.close()">
        <li class="list-group-item list-group-item-action">Liste des défis</li>
      </a>

      <!-- ADMIN PART -->
      <li class="list-group-item list-group-item-action active">Admin</li>
      <a routerLink="/ajouter_news" routerLinkActive="active" (click)="sidenav.close()">
        <li class="list-group-item list-group-item-action">Ajoute news</li>
      </a>
      <a routerLink="/ajouter_evenement" routerLinkActive="active" (click)="sidenav.close()">
        <li class="list-group-item list-group-item-action">Ajoute evènement</li>
      </a>
      <a routerLink="/ajouter_defi" routerLinkActive="active" (click)="sidenav.close()">
        <li class="list-group-item list-group-item-action">Ajoute défi</li>
      </a>

    </ul>
  </md-sidenav>

  <div class="example-sidenav-content fixed-top">
    <i class="fa fa-bars icon" aria-hidden="true"(click)="sidenav.open()"></i>
    <a routerLink="/accueil" routerLinkActive="active"> <i class="fa fa-home icon" aria-hidden="true"></i></a>
    <a routerLink="/messagerie" routerLinkActive="active"> <i class="fa fa-envelope-o icon" aria-hidden="true"></i></a>

    <a routerLink="/profil" routerLinkActive="active"> <i class="fa fa-user-o icon" aria-hidden="true"></i></a>

    <a routerLink="/calendrier" routerLinkActive="active"><i class="fa fa-calendar icon" aria-hidden="true"></i></a>
    <i class="fa fa-power-off icon" (click)="logOut()" aria-hidden="true"></i>
  </div>

  <div id="bodyContent" class=" p-4 mt-3">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
