<div>
  <p>Trier par catégorie : </p>

  <select class="custom-select" (ngModelChange)="sortDefiList($event)" [(ngModel)]="categorie">
    <option value="" ></option>
    <option value="alcool" >Alcool</option>
    <option value="sexe" >Sexe</option>
    <option value="ski" >Ski</option>
  </select>

  <app-defi-block *ngFor="let defi of listDefi | reverse" [defiModel]="defi"></app-defi-block>
</div>

<div class="col-xs-12 col-12">
  <pagination [directionLinks]="false"
              [boundaryLinks]="true"
              [totalItems]="totalItems"
              (pageChanged)="pageChanged($event)"
              [(ngModel)]="currentPage"
              [itemsPerPage]="itemPerPage"
              [maxSize]="maxSize"></pagination>
</div>
