<div class="container" xmlns="http://www.w3.org/1999/html">

  <form [formGroup]="addMemberForm" (submit)="addMember()" class="p-5 text-center">
    <div class="form-group">
      <input type="text" formControlName="prenom"  placeholder="Prénom" class="form-control" required maxlength="60" />
    </div>

    <div class="form-group">
      <input type="text" formControlName="nom" placeholder="Nom" class="form-control" required>
    </div>

    <div class="form-group">
      <input type="radio" [(ngModel)]="sexe" formControlName="sexe" name="sexe" value="false" >Homme
      <input type="radio" [(ngModel)]="sexe" formControlName="sexe" name="sexe" value="true">Femme

    </div>

    <button type="submit" class="btn-danger">S'inscrire</button>
  </form>
</div>

<simple-notifications [options]="options"></simple-notifications>
